* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  font-family: Inter;
  font-weight: 400;
  font-size: 20.2px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  margin: 15px;
}

.icon {
  margin-right: 50px;
}

.container {
  width: 80%;
  /* height ar gauweroo-  dautoveo kontentis mixedvit gaiweloso  */
  background-color: rgba(38, 37, 37, 1);
  border-radius: 24px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  width: 57px;
  height: 394px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.center-side {
  display: flex;
  gap: 10px;
  width: 812px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 21px;
  margin-top: 15px;
}

.card1 {
  display: flex;
  width: 245px;
  height: 153px;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(29, 29, 29, 1);
}

.card2 {
  width: 809px;
  height: 195px;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(29, 29, 29, 1);
}

.card3 {
  width: 386px;
  height: 157px;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(29, 29, 29, 1);
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-left: 40px;
  margin-bottom: 16px;
}

.box1 {
  width: 295px;
  height: 296px;
  border-radius: 36px;
  opacity: 1;
  position: relative;
}

.box2 {
  width: 258px;
  height: 273px;
  border-radius: 20px;
  opacity: 1;
  background-color: rgba(29, 29, 29, 1);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.color-form {
  width: 218px;
  height: 228px;
  position: absolute;
  border-radius: 36px;
  opacity: 1;
  position: absolute;
}

.purple {
  width: 218px;
  height: 251px;
  border-radius: 36px;
  opacity: 1;
  border-width: 1px;
  background: linear-gradient(136.58deg, #7b20e2 0%, #2b1043 101.73%);
  border: 1px solid rgba(68, 7, 126, 1);
  box-shadow: 0px 4px 32px 20px rgba(0, 0, 0, 0.25) inset;
  z-index: 4;
  position: absolute;
  left: 1px;
  top: 45px;
  right: 70px;
  bottom: 0;
}

.yellow {
  position: absolute;
  width: 218px;
  height: 205px;
  top: 43px;
  left: 20px;
  border-radius: 36px;
  transform: rotate(16.56deg);
  opacity: 1;
  background: rgba(198, 142, 60, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.green {
  position: absolute;
  width: 221px;
  height: 200px;
  top: 49px;
  left: 49px;
  border-radius: 36px;
  transform: rotate(34deg);
  opacity: 1;
  background: rgba(47, 132, 127, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
